html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.indexbg:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/*footer*/

.copyright {
    margin: 10px 0;
}

/*home page*/

.intro {
    margin: 10.6vh 0;
}

.intro > h1 {
    color: var(--accent);
    font-size: 11vh;
}

.intro > h2 {
    color: #a5a5a5;
    font-size: 3vmin;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

#navbar-toggle-cbox {
    display: none;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

.page-date {
    color: #757575;
}

.page-content {
    color: #959595;
}

.page-content > h1, .text-justify > h1 {
    color: var(--accent);
}

.page-content > h2, .text-justify > h2 {
    color: var(--accent);
}

.page-content > h3, .text-justify > h3 {
    color: var(--accent);
}

.page-content > h4, .text-justify > h4 {
    color: var(--accent);
}

.page-content > h5, , .text-justify > h5 {
    color: var(--accent);
}

/*extra bootstrap stuff*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.figfit > img {
  max-width: 100%;
}

.footer-extrainfo {
  font-size: 12px;
}
