{{ partial "header" . }}

<main class="page-content">

    <h2>{{ .Title }}</h2>

    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

</main>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}

    <div class="pages">

        {{ if .Paginator.HasPrev }}
            <a class="icon pages-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
                <i class="fa fa-lg fa-arrow-left"></i>
            </a>
        {{ else }}
	    <i class="fa fa-lg fa-arrow-left"></i>
	{{ end }}


        {{ if .Paginator.HasNext }}
            <a class="icon pages-icon" href="{{ .Paginator.Next.URL }}" rel="next">
                <i class="fa fa-lg fa-arrow-right"></i>
            </a>
        {{ else }}
	    <i class="fa fa-lg fa-arrow-right"></i>
	{{ end }}

    </div>

{{ end }}

{{ partial "footer" . }}
