        <footer>

            <p class="copyright text-muted">
		&copy; {{ dateFormat "2006" now }} {{ .Site.Params.Author }}.<br>
		<span class="footer-extrainfo">{{ if ne .Site.Params.PGPfingerprint "" }}PGP: {{ if ne .Site.Params.PGPpage "" }}<a href="{{ .Site.Params.PGPpage  }}">{{ end }}{{ .Site.Params.PGPfingerprint }}{{ if ne .Site.Params.PGPpage "" }}</a>{{ end }}{{ end }}<br>
		Powered by <a href="https://gohugo.io">Hugo</a> and <a href="https://gitlab.com/andrewhall649/Minimal-Modified">Minimal-Modified</a>.</span>
	    </p>

        </footer>

    </body>

</html>
