<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>

	{{ if eq .Site.Title .Title }}
        <title>Home &#x25AA; {{ .Site.Title }}</title>
	{{ else }}
	<title>{{ .Title }} &#x25AA; {{ .Site.Title }}</title>
	{{ end }}
        {{ if .Site.Params.favicon }}
	    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
        {{ end }}
        {{ partial "css" . }} {{ partial "js" . }} {{ .Hugo.Generator }}
        {{ if .RSSLink }}
	    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	    {{ end }}

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    {{ if eq .Site.Title .Title }}
    <body class="indexbg">
    {{ else }}
    <body>
    {{ end }}

        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="container">
                <input type="checkbox" id="navbar-toggle-cbox">
                <div class="navbar-header">

                    <a class="navbar-brand visible-xs" href="#">{{ .Title }}</a>

                    <label for=navbar-toggle-cbox class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </label>

                </div>

                <div id="navbar" class="collapse navbar-collapse">

                    {{ if .Site.Menus.main }}
                        <ul class="nav navbar-nav">
                            {{ range sort .Site.Menus.main }}
                                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}

                    {{ if .Site.Menus.icon }}
                        <ul class="nav navbar-nav navbar-right">
                            {{ range sort .Site.Menus.icon }}
                                <li class="navbar-icon"><a href="{{ .URL }}"><i class="fa fa-{{ .Name }}"></i></a></li>
                            {{ end }}
                        </ul>
                    {{ end }}

                </div>

            </div>

        </nav>
