<div class="item">
    {{ if eq .Type "post" }}

        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>

        <h5 class="page-date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>

        {{ range .Params.tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }}

    {{ else if eq .Type "project" }}

        <h4>
	{{ if eq .Params.repoHost "github" }}
		<i class="fa fa-fw fa-github" aria-hidden="true"></i><a href="https://github.com/{{ .Site.Params.githubUsername }}/{{ .Params.repo }}/">{{ .Title }}</a>
	{{ else if eq .Params.repoHost "gitlab" }}
		<i class="fa fa-fw fa-gitlab" aria-hidden="true"></i><a href="https://gitlab.com/{{ .Site.Params.gitlabUsername }}/{{ .Params.repo }}/">{{ .Title }}</a>
	{{ else }}
		<i class="fa fa-fw fa-code" aria-hidden="true"></i><a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{ end }}
	</h4>

        <h5>{{ .Description }}</h5>

        {{ range .Params.tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }}

    {{ else }}
        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
	<h5 class="page-date">Updated on {{ .Date.Format "January 2, 2006" }}</h5>
    {{ end }}
</div>
