{{ partial "header" . }}

<main>

    <div class="intro">

	<img style="max-height:150px;" src="{{ .Site.Params.LogoImage }}"></img>

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

    </div>

</main>

{{ partial "footer" . }}
